* {
    box-sizing: border-box;
}


#header {
    
    padding: 1px;
    text-align: center;
    background-color: darkgray;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    

}

.textalignstyle {
    
    text-align: center;
    padding: 0px;
}


div.textalignstyle {
    

    padding: 10px;
    background-color: lightgrey;
    
}

li.pointscenter {
    
    display: block;
}


.page-wrapper {

    width: 1550px;
    height: 700px;
    margin: 25px;
    font-size: 0px;
    font-family: Arial, sans-serif;
}

.content-area {

    padding: 20px;
    display: inline-block;
    width: 1196px;
    height: 700px;
    margin-left: -25px;
    border: 20px solid #333333;
    background-color: #858282;
    font-size: 16px;

}


.rightsidebar {

    display: inline-block;
    width: 300px; 
    height: 700px;
    vertical-align: top;
    padding: 20px;
    background-color: #858282 ;
    border: 20px solid #333333;
    border-left: 0px;
    font-size: 16px;

}

.leftsectionsizesstyle {

    margin-bottom: 20px;
    text-align: center;
    background-color: #d4d2d2;
    border: 5px solid #f2ef8f;


}

section.leftsectionsizesstyle {

    margin-left: 50px;
    display: inline-block;
    width: 300px;
    height: 200px;

}

#webtoolkitheader {

    padding: 10px;
    background: #d4d2d2;
    border: 5px solid #f2ef8f ;

    
    
}

div.rightsidebarsectionsizestyle {

    height: 470px;
    background: #d4d2d2;
    border: 5px solid #f2ef8f ;
    margin-top: 20px;
    padding: 5px;

}


.divfooterstyle {

    text-align: center;
    padding: 10px;
    background-color: lightgrey;
    

    
}




