* {
    box-sizing: border-box;
}

#header {
    
    padding: 1px;
    text-align: center;
    background-color: darkgray;
    text-transform: uppercase;
}

.textalignstyle {
    
    text-align: center;
    padding: 0px;
}


div.textalignstyle {
    

    padding: 10px;
    background-color: lightgrey;
    
}

li {
    
    display: block;
}


.page-wrapper {

    width: 1550px;
    height: 700px;
    margin: 25px;
    font-size: 0px;
}

.content-area {

    padding: 20px;
    display: inline-block;
    width: 1196px;
    height: 700px;
    margin-left: -25px;
    border: 20px solid #333333;
    background-color: #858282;
    font-size: 16px;

}


.rightsidebar {

    display: inline-block;
    width: 300px; 
    height: 700px;
    vertical-align: top;
    padding: 25px;
    background-color: #4c4c4c;
    border: 20px solid #333333;
    border-left: 0px;
    font-size: 16px;

}

.leftsectionsizesstyle {

    margin-bottom: 20px;
    text-align: center;
    background-color: #d4d2d2;
    border: solid #f2ef8f;


}

section.leftsectionsizesstyle {

    margin-left: 50px;
    display: inline-block;
    width: 300px;
    height: 200px;

}




